body {
 margin: 0; 
}

body * {
  margin: 0; 
 }

.grid-container {
  margin-top: 50px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 5px solid peachpuff;
}

/* the basis here or the third option needs to be caluclated dependant on number of grid points so 1 divided by number of grid points*/
.grid-item {
  box-sizing: border-box;
  flex: 0 1 20%;
  transition: 0.2s;
  background-color: white;
}

.grid-item-hovered {
  background-color: rgb(15, 12, 51);
}

.grid-item:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 50px;
  font-size: 24px;
  padding: 20px;
  border: none;
}

.grid-window {
  display: flex;
  flex-direction: row;
  justify-content: center;
}